# Postgres config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=movies
POSTGRES_HOST=movies_db
POSTGRES_PORT=5432
POSTGRES_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres
POSTGRES_URL=postgresql://postgres:secret@movies_db:5432/movies

# Redis config
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secret
REDIS_URL=redis://redis:6379

# Elastic config
ELASTIC_URL="http://elasticsearch:9200"

# Assistant Service config
PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"
CARD_TITLE="Навык Ассистент Practix"
CARD_DISCRIPTION="Я помогаю находить информацию о фильмах, актерах и режиссерах. Спроси, кто снял фильм или в каких фильмах снимался актер!"
CARD_IMAGE_ID=213044/34ef1861e30568d6e30b